
* {
  margin: 0;
  box-sizing: border-box;
}

#mainHotel_1 {
  font-family: "NEXON Lv1 Gothic", "Noto Sans KR", sans-serif;
}
#mainHotel_1 a {
  color: inherit;
  text-decoration: none;
}
#mainHotel_1 .mainSection {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}
@media screen and (min-width: 1680px) {
  #mainHotel_1 .mainSection {
    margin: 0 auto;
    width: 100%;
    max-width: 1400px;
  }
}
#mainHotel_1 .mainSe1 {
  position: relative;
}
#mainHotel_1 .mainSe1 .relative {
  position: relative;
}
#mainHotel_1 .mainSe1__scroll {
  position: absolute;
  z-index: 20;
  left: 50%;
  bottom: 40px;
  transform: translate(-50%, 0);
}
#mainHotel_1 .mainSe1__scroll .scrollWrap {
  width: 25px;
  height: 40px;
  border: 2px solid white;
  border-radius: 15px;
}
#mainHotel_1 .mainSe1__scroll .scrollBar {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 5px;
  height: 5px;
  background: white;
  border-radius: 10px;
  animation: scrollBar 2s linear infinite;
}
#mainHotel_1 .mainSe1__scrollText {
  position: absolute;
  z-index: 20;
  left: 50%;
  bottom: 10px;
  transform: translate(-50%, 0);
  font-size: 15px;
  color: white;
  white-space: nowrap;
}
#mainHotel_1 .mainSe1__slide {
  height: 100%;
}
#mainHotel_1 .mainSe1__slide .swiper-slide {
  position: relative;
  height: 500px;
}
#mainHotel_1 .mainSe1__slide .swiper-slide-active .mainSe1__slideText {
  opacity: 1;
}
#mainHotel_1 .mainSe1__slide .swiper-slide-active .mainSe1__slideText .text_1 {
  margin-bottom: 0px;
  opacity: 1;
  transform: translateY(0);
}
#mainHotel_1 .mainSe1__slide .swiper-slide-active .mainSe1__slideText .text_2 {
  margin-top: 25px;
  opacity: 1;
  transform: translateY(0);
}
#mainHotel_1 .mainSe1 .swiper_nav {
  position: absolute;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
#mainHotel_1 .mainSe1 .swiper_nav.mainSe1__navLeft {
  left: 5px;
}
#mainHotel_1 .mainSe1 .swiper_nav.mainSe1__navRight {
  right: 5px;
}
#mainHotel_1 .mainSe1 .swiper_nav img {
  height: 50px;
}
#mainHotel_1 .mainSe1__slideImage {
  position: absolute;
  top: 0;
  lefT: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#mainHotel_1 .mainSe1__slideFilter {
  position: absolute;
  top: 0;
  lefT: 0;
  width: 100%;
  height: 100%;
  background: black;
}
#mainHotel_1 .mainSe1__slideText {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  opacity: 0;
}
#mainHotel_1 .mainSe1__slideText .text_1 {
  margin-bottom: 50px;
  font-size: 30px;
  font-weight: 500;
  opacity: 0;
  transform: translateY(-50px);
  transition: transform 1000ms, opacity 1000ms, margin 1000ms;
  transition-delay: 1s;
}
#mainHotel_1 .mainSe1__slideText .text_2 {
  margin-top: 50px;
  font-size: 15px;
  line-height: 1.3em;
  opacity: 0;
  transform: translateY(50px);
  transition: transform 1000ms, opacity 1000ms, margin 1000ms;
  transition-delay: 1s;
}
@media screen and (min-width: 600px) {
  #mainHotel_1 .mainSe1__slide .swiper-slide {
    position: relative;
    height: 700px;
  }
  #mainHotel_1 .mainSe1__slideText .text_1 {
    font-size: 45px;
  }
  #mainHotel_1 .mainSe1__slideText .text_2 {
    margin-top: 25px;
    font-size: 20px;
  }
}
@media screen and (min-width: 1024px) {
  #mainHotel_1 .mainSe1 {
    position: relative;
  }
  #mainHotel_1 .mainSe1 .relative {
    position: relative;
  }
  #mainHotel_1 .mainSe1__scroll {
    position: absolute;
    z-index: 20;
    left: 50%;
    bottom: 40px;
    transform: translate(-50%, 0);
  }
  #mainHotel_1 .mainSe1__scroll .scrollWrap {
    width: 25px;
    height: 40px;
  }
  #mainHotel_1 .mainSe1__scroll .scrollBar {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 5px;
    height: 5px;
  }
  #mainHotel_1 .mainSe1__scrollText {
    position: absolute;
    z-index: 20;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%, 0);
    font-size: 15px;
    white-space: nowrap;
  }
  #mainHotel_1 .mainSe1__slide {
    height: 100%;
  }
  #mainHotel_1 .mainSe1__slide .swiper-slide {
    position: relative;
    height: 100vh;
  }
  #mainHotel_1 .mainSe1__slide .swiper-slide-active .mainSe1__slideText .text_1 {
    opacity: 1;
    transform: translateY(0);
  }
  #mainHotel_1 .mainSe1__slide .swiper-slide-active .mainSe1__slideText .text_2 {
    opacity: 1;
    transform: translateY(0);
  }
  #mainHotel_1 .mainSe1 .swiper_nav {
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  #mainHotel_1 .mainSe1 .swiper_nav.mainSe1__navLeft {
    left: 5px;
  }
  #mainHotel_1 .mainSe1 .swiper_nav.mainSe1__navRight {
    right: 5px;
  }
  #mainHotel_1 .mainSe1 .swiper_nav img {
    height: 70px;
  }
  #mainHotel_1 .mainSe1__slideImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  #mainHotel_1 .mainSe1__slideFilter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  #mainHotel_1 .mainSe1__slideText {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  #mainHotel_1 .mainSe1__slideText .text_1 {
    font-size: 60px;
    opacity: 0;
  }
  #mainHotel_1 .mainSe1__slideText .text_2 {
    font-size: 25px;
    opacity: 0;
  }
}
@media screen and (min-width: 1680px) {
  #mainHotel_1 .mainSe1 {
    position: relative;
  }
  #mainHotel_1 .mainSe1 .relative {
    position: relative;
  }
  #mainHotel_1 .mainSe1__slideText .text_1 {
    font-size: 80px;
  }
  #mainHotel_1 .mainSe1__slideText .text_2 {
    margin-top: 25px;
    font-size: 35px;
  }
}
#mainHotel_1 .mainSe2 {
  position: relative;
  padding: 100px 15px;
}
#mainHotel_1 .mainSe2__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}
#mainHotel_1 .mainSe2__textWrap {
  width: 100%;
  text-align: center;
}
#mainHotel_1 .mainSe2__title {
  font-size: 17px;
}
#mainHotel_1 .mainSe2__subTitle {
  margin-top: 20px;
  font-size: 35px;
  font-weight: 100;
  line-height: 1.3em;
}
#mainHotel_1 .mainSe2__text {
  margin-top: 30px;
  font-size: 15px;
  line-height: 1.7em;
}
#mainHotel_1 .mainSe2__btn {
  display: inline-block;
  margin-top: 30px;
  padding: 11px 40px 9px 40px;
  font-size: 13px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
}
#mainHotel_1 .mainSe2__imageWrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  width: 100%;
}
#mainHotel_1 .mainSe2__image1, #mainHotel_1 .mainSe2__image2 {
  width: 350px;
  height: 250px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (min-width: 600px) {
  #mainHotel_1 .mainSe2__text {
    font-size: 17px;
  }
  #mainHotel_1 .mainSe2__image1, #mainHotel_1 .mainSe2__image2 {
    width: 80%;
    height: 450px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  #mainHotel_1 .mainSe2__image2 {
    width: 80%;
    height: 450px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 1024px) {
  #mainHotel_1 .mainSe2 {
    padding: 100px 0;
  }
  #mainHotel_1 .mainSe2__wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 100px 0;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
  }
  #mainHotel_1 .mainSe2__textWrap {
    width: 40%;
    text-align: center;
  }
  #mainHotel_1 .mainSe2__title {
    font-size: 17px;
  }
  #mainHotel_1 .mainSe2__subTitle {
    margin-top: 20px;
    font-size: 50px;
  }
  #mainHotel_1 .mainSe2__text {
    margin-top: 30px;
    font-size: 15px;
  }
  #mainHotel_1 .mainSe2__btn {
    display: inline-block;
    margin-top: 30px;
    padding: 11px 40px 9px 40px;
    font-size: 13px;
    text-transform: uppercase;
  }
  #mainHotel_1 .mainSe2__imageWrap {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0;
    padding-left: 100px;
    width: 60%;
  }
  #mainHotel_1 .mainSe2__image1, #mainHotel_1 .mainSe2__image2 {
    margin-top: -100px;
    width: 350px;
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  #mainHotel_1 .mainSe2__image2 {
    position: absolute;
    top: 30%;
    left: 50%;
    margin-top: -100px;
    width: 350px;
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 1700px) {
  #mainHotel_1 .mainSe2__wrap {
    max-width: 1400px;
  }
  #mainHotel_1 .mainSe2__title {
    font-size: 25px;
  }
  #mainHotel_1 .mainSe2__subTitle {
    font-size: 60px;
  }
  #mainHotel_1 .mainSe2__text {
    font-size: 20px;
  }
}
#mainHotel_1 .mainSe3 {
  position: relative;
  padding: 50px 0;
  background: #F9F9F9;
}
#mainHotel_1 .mainSe3__wrapPC {
  display: none;
}
#mainHotel_1 .mainSe3__wrapMB .mainSe3__slideMB {
  margin-top: 50px;
}
#mainHotel_1 .mainSe3__wrapMB .roomSpecial {
  width: 100%;
}
#mainHotel_1 .mainSe3__wrapMB .roomSpecial__textWrap {
  padding: 0 15px;
}
#mainHotel_1 .mainSe3__wrapMB .roomSpecial__img {
  position: relative;
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#mainHotel_1 .mainSe3__wrapMB .roomSpecial__title {
  margin-top: 20px;
  font-size: 30px;
  font-weight: 100;
}
#mainHotel_1 .mainSe3__wrapMB .roomSpecial__text {
  margin-top: 20px;
  font-size: 15px;
  line-height: 1.5em;
}
#mainHotel_1 .mainSe3__wrapMB .roomSpecial__btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 40px;
  color: white;
  background: black;
}
#mainHotel_1 .mainSe3__entry {
  text-align: center;
}
#mainHotel_1 .mainSe3__title {
  position: relative;
  font-size: 15px;
  letter-spacing: 2px;
}
#mainHotel_1 .mainSe3__title:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -15px;
  transform: translate(-50%, 0);
  width: 40px;
  height: 1px;
  background: black;
}
#mainHotel_1 .mainSe3__subtitle {
  margin-top: 30px;
  font-size: 35px;
}
#mainHotel_1 .mainSe3__roomWrap {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}
#mainHotel_1 .mainSe3__roomWrap .roomSpecial {
  width: 47%;
}
#mainHotel_1 .mainSe3__roomWrap .roomSpecial__img {
  position: relative;
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#mainHotel_1 .mainSe3__roomWrap .roomSpecial__title {
  margin-top: 20px;
  font-size: 40px;
  font-weight: 100;
}
#mainHotel_1 .mainSe3__roomWrap .roomSpecial__text {
  margin-top: 30px;
  font-size: 15px;
}
#mainHotel_1 .mainSe3__roomWrap .roomSpecial__btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 40px;
  color: white;
  background: black;
}
#mainHotel_1 .mainSe3__roomListWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}
#mainHotel_1 .mainSe3__roomBlock {
  display: flex;
  justify-content: space-between;
}
#mainHotel_1 .mainSe3__roomBlock.mt {
  margin-top: 25px;
}
#mainHotel_1 .mainSe3__roomList {
  position: relative;
  width: 48%;
  height: 250px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#mainHotel_1 .mainSe3__roomList:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 300ms;
}
#mainHotel_1 .mainSe3__roomList .roomText {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1000ms;
}
#mainHotel_1 .mainSe3__roomList .roomText__name {
  font-size: 20px;
}
#mainHotel_1 .mainSe3__roomList .roomText__btn {
  display: inline-block;
  margin-top: 10px;
  font-size: 15px;
}
@media screen and (min-width: 600px) {
  #mainHotel_1 .mainSe3 {
    padding: 100px 0;
  }
  #mainHotel_1 .mainSe3__wrapPC {
    display: none;
  }
  #mainHotel_1 .mainSe3__wrapMB {
    width: 80%;
    margin: 0 auto;
  }
  #mainHotel_1 .mainSe3__wrapMB .roomSpecial__text {
    font-size: 17px;
  }
  #mainHotel_1 .mainSe3__subtitle {
    font-size: 45px;
  }
}
@media screen and (min-width: 1024px) {
  #mainHotel_1 .mainSe3 {
    position: relative;
    padding: 100px 0;
    background: #F9F9F9;
  }
  #mainHotel_1 .mainSe3__wrapPC {
    display: block;
  }
  #mainHotel_1 .mainSe3__wrapMB {
    display: none;
  }
  #mainHotel_1 .mainSe3__entry {
    text-align: center;
  }
  #mainHotel_1 .mainSe3__title {
    position: relative;
    font-size: 15px;
    letter-spacing: 2px;
  }
  #mainHotel_1 .mainSe3__title:before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -15px;
    transform: translate(-50%, 0);
    width: 40px;
    height: 1px;
    background: black;
  }
  #mainHotel_1 .mainSe3__subtitle {
    margin-top: 20px;
    font-size: 50px;
  }
  #mainHotel_1 .mainSe3__roomWrap {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
  }
  #mainHotel_1 .mainSe3__roomWrap .roomSpecial {
    width: 47%;
  }
  #mainHotel_1 .mainSe3__roomWrap .roomSpecial__img {
    position: relative;
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  #mainHotel_1 .mainSe3__roomWrap .roomSpecial__title {
    margin-top: 20px;
    font-size: 40px;
    font-weight: 100;
  }
  #mainHotel_1 .mainSe3__roomWrap .roomSpecial__text {
    margin-top: 30px;
    font-size: 15px;
  }
  #mainHotel_1 .mainSe3__roomWrap .roomSpecial__btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 40px;
    color: white;
    background: black;
  }
  #mainHotel_1 .mainSe3__roomListWrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
  }
  #mainHotel_1 .mainSe3__roomBlock {
    display: flex;
    justify-content: space-between;
  }
  #mainHotel_1 .mainSe3__roomBlock.mt {
    margin-top: 25px;
  }
  #mainHotel_1 .mainSe3__roomList {
    position: relative;
    width: 48%;
    height: 250px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  #mainHotel_1 .mainSe3__roomList:hover:before {
    background: rgba(0, 0, 0, 0.3);
  }
  #mainHotel_1 .mainSe3__roomList:hover .roomText {
    opacity: 1;
    visibility: visible;
  }
  #mainHotel_1 .mainSe3__roomList:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 300ms;
  }
  #mainHotel_1 .mainSe3__roomList .roomText {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1000ms;
  }
  #mainHotel_1 .mainSe3__roomList .roomText__name {
    font-size: 20px;
  }
  #mainHotel_1 .mainSe3__roomList .roomText__btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px 8px 15px;
    font-size: 15px;
    border: 1px solid white;
  }
}
@media screen and (min-width: 1700px) {
  #mainHotel_1 .mainSe3__title {
    font-size: 20px;
  }
  #mainHotel_1 .mainSe3__subtitle {
    font-size: 60px;
  }
  #mainHotel_1 .mainSe3__roomWrap {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
  }
  #mainHotel_1 .mainSe3__roomWrap .roomSpecial__img {
    height: 300px;
  }
  #mainHotel_1 .mainSe3__roomWrap .roomSpecial__title {
    font-size: 40px;
  }
  #mainHotel_1 .mainSe3__roomWrap .roomSpecial__text {
    font-size: 20px;
  }
}
#mainHotel_1 .mainSe4 {
  display: flex;
  flex-direction: column;
  position: relative;
  height: auto;
}
#mainHotel_1 .mainSe4__imgWrap {
  width: 100%;
  height: 50vh;
}
#mainHotel_1 .mainSe4__img {
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#mainHotel_1 .mainSe4__textWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 50px 15px;
  width: 100%;
  color: white;
  background: #1C1C1C;
}
#mainHotel_1 .mainSe4__title {
  font-size: 15px;
  text-transform: uppercase;
}
#mainHotel_1 .mainSe4__subtitle {
  margin-top: 30px;
  font-size: 50px;
  font-weight: 100;
}
#mainHotel_1 .mainSe4__content {
  margin-top: 30px;
  font-size: 18px;
  line-height: 1.7em;
}
#mainHotel_1 .mainSe4__btn {
  margin-top: 40px;
  display: inline-block;
  padding: 15px 30px;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: #151515;
  transition: background 500ms;
}
@media screen and (min-width: 600px) {
  #mainHotel_1 .mainSe4__title {
    font-size: 20px;
  }
}
@media screen and (min-width: 1024px) {
  #mainHotel_1 .mainSe4 {
    display: flex;
    flex-direction: row;
    justify-content: row;
    position: relative;
    height: 100vh;
    max-height: 800px;
  }
  #mainHotel_1 .mainSe4__imgWrap {
    width: 50%;
    height: 100%;
  }
  #mainHotel_1 .mainSe4__img {
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  #mainHotel_1 .mainSe4__textWrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 7%;
    width: 50%;
    height: 100%;
  }
  #mainHotel_1 .mainSe4__title {
    font-size: 15px;
    text-transform: uppercase;
  }
  #mainHotel_1 .mainSe4__subtitle {
    font-size: 60px;
  }
  #mainHotel_1 .mainSe4__content {
    margin-top: 30px;
    font-size: 18px;
  }
  #mainHotel_1 .mainSe4__btn {
    margin-top: 40px;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
  }
  #mainHotel_1 .mainSe4__btn:hover {
    background: white;
    color: #151515;
  }
}
@media screen and (min-width: 1680px) {
  #mainHotel_1 .mainSe4__title {
    font-size: 20px;
  }
  #mainHotel_1 .mainSe4__subtitle {
    font-size: 65px;
  }
  #mainHotel_1 .mainSe4__content {
    font-size: 22px;
  }
  #mainHotel_1 .mainSe4__btn {
    font-size: 17px;
  }
}
#mainHotel_1 .mainSe5 {
  padding: 50px 0;
  background: #F9F9F9;
}
#mainHotel_1 .mainSe5__title {
  padding: 0 15px;
  font-size: 20px;
  font-weight: 100;
  line-height: 1.5em;
  text-align: center;
}
#mainHotel_1 .mainSe5__facility {
  margin-top: 50px;
}
#mainHotel_1 .mainSe5__facilityBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#mainHotel_1 .mainSe5__facilityImg {
  order: 1;
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#mainHotel_1 .mainSe5__facilityText {
  order: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 50px 15px;
  background: white;
}
#mainHotel_1 .mainSe5 .facility {
  text-align: center;
}
#mainHotel_1 .mainSe5 .facility__title {
  font-size: 17px;
}
#mainHotel_1 .mainSe5 .facility__subTitle {
  margin-top: 20px;
  font-size: 35px;
  font-weight: 100;
  line-height: 1.3em;
}
#mainHotel_1 .mainSe5 .facility__text {
  margin-top: 30px;
  font-size: 15px;
  line-height: 1.7em;
}
#mainHotel_1 .mainSe5 .facility__btn {
  align-self: center;
  display: inline-block;
  margin-top: 30px;
  padding: 10px 40px;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}
@media screen and (min-width: 600px) {
  #mainHotel_1 .mainSe5__title {
    font-size: 25px;
  }
  #mainHotel_1 .mainSe5 .facility__subTitle {
    font-size: 35px;
  }
  #mainHotel_1 .mainSe5 .facility__text {
    font-size: 17px;
  }
  #mainHotel_1 .mainSe5 .facility__btn {
    font-size: 13px;
  }
}
@media screen and (min-width: 1024px) {
  #mainHotel_1 .mainSe5 {
    padding: 100px 0;
  }
  #mainHotel_1 .mainSe5__title {
    font-size: 40px;
    line-height: 1.5em;
    text-align: center;
  }
  #mainHotel_1 .mainSe5__facility {
    margin-top: 100px;
  }
  #mainHotel_1 .mainSe5__facilityBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 500px;
  }
  #mainHotel_1 .mainSe5__facilityImg {
    order: 0;
    width: 50%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  #mainHotel_1 .mainSe5__facilityText {
    order: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
    padding: 0 5%;
  }
  #mainHotel_1 .mainSe5 .facility {
    text-align: center;
  }
  #mainHotel_1 .mainSe5 .facility__title {
    font-size: 17px;
  }
  #mainHotel_1 .mainSe5 .facility__subTitle {
    margin-top: 20px;
    font-size: 35px;
    line-height: 1.3em;
  }
  #mainHotel_1 .mainSe5 .facility__text {
    margin-top: 30px;
    font-size: 17px;
    line-height: 1.7em;
  }
  #mainHotel_1 .mainSe5 .facility__btn {
    align-self: center;
    display: inline-block;
    margin-top: 30px;
    padding: 10px 40px;
    font-size: 13px;
    letter-spacing: 2px;
  }
}
@media screen and (min-width: 1680px) {
  #mainHotel_1 .mainSe5 .facility__title {
    font-size: 20px;
  }
  #mainHotel_1 .mainSe5 .facility__subTitle {
    font-size: 40px;
  }
  #mainHotel_1 .mainSe5 .facility__text {
    font-size: 20px;
  }
  #mainHotel_1 .mainSe5 .facility__btn {
    font-size: 15px;
  }
}
#mainHotel_1 .mainSe6 {
  width: 100%;
  overflow: hidden;
}
#mainHotel_1 .mainSe6__container {
  position: relative;
  height: 400px;
}
#mainHotel_1 .mainSe6__img {
  position: relative;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#mainHotel_1 .mainSe6__img:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
#mainHotel_1 .mainSe6__textWrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  color: white;
  text-align: center;
}
#mainHotel_1 .mainSe6__title {
  font-size: 30px;
  font-weight: 500;
  line-height: 1.5em;
}
#mainHotel_1 .mainSe6__desc {
  margin-top: 30px;
  font-size: 15px;
}
#mainHotel_1 .mainSe6__play {
  margin-top: 30px;
  display: inline-block;
  height: 50px;
  cursor: pointer;
}
@media screen and (min-width: 600px) {
  #mainHotel_1 .mainSe6__title {
    font-size: 35px;
    line-height: 1.5em;
  }
  #mainHotel_1 .mainSe6__desc {
    font-size: 18px;
  }
  #mainHotel_1 .mainSe6__play {
    margin-top: 30px;
    display: inline-block;
    height: 70px;
    cursor: pointer;
  }
}
@media screen and (min-width: 1024px) {
  #mainHotel_1 .mainSe6__container {
    position: relative;
    height: 400px;
  }
  #mainHotel_1 .mainSe6__img {
    position: relative;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  #mainHotel_1 .mainSe6__img:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  #mainHotel_1 .mainSe6__textWrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  #mainHotel_1 .mainSe6__title {
    font-size: 45px;
    line-height: 1.3em;
  }
  #mainHotel_1 .mainSe6__desc {
    margin-top: 30px;
    font-size: 20px;
  }
  #mainHotel_1 .mainSe6__play {
    margin-top: 30px;
    display: inline-block;
    height: 70px;
    cursor: pointer;
  }
}
@media screen and (min-width: 1680px) {
  #mainHotel_1 .mainSe6__title {
    font-size: 50px;
  }
  #mainHotel_1 .mainSe6__desc {
    font-size: 25px;
  }
}

@keyframes scrollBar {
  0% {
    opacity: 1;
    top: 10px;
  }
  70% {
    opacity: 0;
    top: 30px;
  }
  100% {
    opacity: 0;
  }
}