$primary-color : #2F6CE7;
$primary-color-on : white;
$primary-color-dark : darken(#2F6CE7, 10);
$primary-color-light : lighten(#2F6CE7, 5);
$point-color: #ff6760;

$background-color: white;
$sidebar-width: 17.625rem;
$main-menu-width: space(12);

$header-height: 3.8rem;

