@mixin bgImg {
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

@font-face { 
    font-family: 'NEXON Lv1 Gothic'; 
    font-weight: normal; 
    font-style: normal; 
    src: url('/assets/fonts/NEXONLv1GothicRegular.woff') format('woff'),
          url('/assets/fonts/NEXONLv1GothicRegular.ttf') format('truetype');
}

html, body, #root {
    overflow-x:visible;
}

* {
    margin:0; 
    box-sizing: border-box;
}

P {
    margin:0;
}

h1,h2,h3 {
    letter-spacing:1px;
}

$section_padding:0 15px; 


#hotel_1 {
    font-family: 'NEXON Lv1 Gothic', 'Noto Sans KR', sans-serif;

    /* ::::::: Override ::::::: */
    .imgEdit {
        width: 40%;
        height: 20%;   
        white-space:nowrap;
    }


    
    /* ::::::: Common ::::::: */

    a {
        position:relative;
        color:inherit;
        text-decoration: none;
    }

    .mainSection {
        margin:0 auto;
        width:100%; max-width:1200px;
    }

    .bgFilter {
        display:none;
        position:fixed; z-index:20;
        top:0; left:0; right:0; bottom:0;
        background:rgba(0,0,0,0.5);
        &.on {
            display:block;
        }
    }

    @media screen and (min-width:768px) {

        $section_padding:0px; 

    }

    @media screen and (min-width:1024px) {

        $section_padding:0px; 

    }

    @media screen and (min-width:1680px) {

        .mainSection {
            margin:0 auto;
            width:100%; max-width:1400px;
        }

    }

    /* ::::::: Sections ::::::: */

    @import './section1.scss';
    @import './section2.scss';
    @import './section3.scss';
    @import './section4.scss';
    @import './section5.scss';
    @import './section6.scss';
    @import './section7.scss';
    @import './footer.scss';
    @import './reservation.scss'
    
}




@keyframes scrollBar {
    0% {
        opacity:1;
        top:10px;
    }
    70% {
        opacity:0;
        top:30px;
    }
    100% {
        opacity:0;
    }
}
