
 /* ::::::: Override ::::::: */

.header {
    display:none;
}

.pageEditBtn {
    display:none;
}

[data-edit="array"]:after {
    width: 100%;
    height: 15%;
}

.imgEdit {
    z-index:50;
    width: 40%;
    height: 20%;   
    white-space:nowrap;
}

@media screen and (min-width:1024px) {

    .header {
        display:block;
    }

    .pageEditBtn {
        display:inline-block;
    }

}