
.footerTop {
    background:#F1F1F1;

    &__container {
        display:flex;
        flex-direction: row;
        margin:0 auto;
        width:100%; max-width:1200px;
        overflow:auto;
    }

    &__block {
        width:100%;
        min-width:100%;
        padding:40px 10px; 
        text-align:center;
        &.socialBlock {
            order:-1;
        }
    }

    &__text1 {
        font-size:15px;
        font-weight:bold;
    }

    &__text2 {
        margin-top:20px;
        font-size:15px;
        font-weight:700;
        color:grey;
    }

    .social {
        display:flex;
        justify-content: center;
    }

    &__icon {
        margin:0 10px;
        position:relative;
        img {
            width:25px;
        }

        .imgEdit {
            top:-20px;
            padding:20px 0 15px 0;
            font-size:15px;
        }
    }

}




@media screen and (min-width:768px) {


}


@media screen and (min-width:1024px) {
        
    .footerTop {

        &__container {
            display:flex;
            flex-direction: row;
            margin:0 auto;
            width:100%; max-width:1200px;
        }

        &__block {
            width:25%;
            min-width:0;
            padding:100px 0; 
            text-align:center;
            &.socialBlock {
                order:0;
            }
        }

        &__text1 {
            font-size:20px;
        }

        &__text2 {
            font-size:16px;
        }

    }

}


@media screen and (min-width:1780px) {

    
}







