
.mainSe1 {
    position:relative;
    border:1px solid red;
    
    .relative {
        position:relative;
    }

    &__scroll {
        position:absolute; z-index:20;
        left:50%; bottom:40px;
        transform:translate(-50%, 0);
        .scrollWrap {
            width:25px;
            height:40px;
            border:2px solid white;
            border-radius:15px;
        }
        .scrollBar {
            position:absolute;
            top:10px; left:50%;
            transform:translateX(-50%);
            width:5px; height:5px;
            background:white;
            border-radius:10px;
            animation:scrollBar 2s linear infinite;
        }
    }

    &__scrollText {
        position:absolute; z-index:20;
        left:50%; bottom:10px;
        transform:translate(-50%, 0);
        font-size:15px;
        color:white;
        white-space: nowrap;
    }
    
    &__slide {
        height:100%;

        .swiper-slide {
            position:relative;
            height:500px;
        }

        .swiper-slide-active {

            .mainSe1__slideText {
                opacity:1;
                .text_1 {
                    margin-bottom:0px;
                    opacity:1;
                    transform:translateY(0);
                }
                .text_2 {
                    margin-top:25px;
                    opacity:1;
                    transform:translateY(0);
                }
            }

        }

    }

    
    .swiper_nav {
        position:absolute; z-index:10;
        top:50%;
        transform:translateY(-50%);
        cursor:pointer;
        &.mainSe1__navLeft {
            left: 5px;
        }
        &.mainSe1__navRight {
            right: 5px;
        }
        img {
            height:50px;
        }
    }

    &__slideImage {
        position:absolute;
        top:0; lefT:0;
        width:100%; height:100%;
        @include bgImg;
    }

    &__slideFilter {
        position:absolute;
        top:0; lefT:0;
        width:100%; height:100%;
        background:black;
    }

    &__slideText {
        position:absolute; z-index:10;
        top:50%; left:50%;
        transform:translate(-50%, -50%);
        color:white;
        text-align:center;
        opacity:0;
        .text_1 {
            margin-bottom:50px;
            font-size:30px;
            font-weight:500;
            opacity:0;
            transform:translateY(-50px);
            transition:transform 1000ms, opacity 1000ms, margin 1000ms;
            transition-delay:1s;
        }
        .text_2 {
            margin-top:50px;
            font-size:15px;
            line-height:1.3em;
            opacity:0;
            transform:translateY(50px);
            transition:transform 1000ms, opacity 1000ms, margin 1000ms;
            transition-delay:1s;
        }
    }

}



@media screen and (min-width:600px) {

    .mainSe1 {
  
        &__slide {

            .swiper-slide {
                position:relative;
                height:700px;
            }

        }

        &__slideText {

            .text_1 {
                font-size:45px;
            }
            .text_2 {
                margin-top:25px;
                font-size:20px;
            }
        }

    }
    
}



@media screen and (min-width:1024px) {
    
    .mainSe1 {
        position:relative;

        .relative {
            position:relative;
        }

        &__scroll {
            position:absolute; z-index:20;
            left:50%; bottom:40px;
            transform:translate(-50%, 0);
            .scrollWrap {
                width:25px;
                height:40px;
            }
            .scrollBar {
                position:absolute;
                top:10px; left:50%;
                transform:translateX(-50%);
                width:5px; height:5px;
            }
        }

        &__scrollText {
            position:absolute; z-index:20;
            left:50%; bottom:10px;
            transform:translate(-50%, 0);
            font-size:15px;
            white-space: nowrap;
        }
        
        &__slide {
            height:100%;

            .swiper-slide {
                position:relative;
                height:100vh;
            }

            .swiper-slide-active {

                .mainSe1__slideText {
                    .text_1 {
                        opacity:1;
                        transform:translateY(0);
                    }
                    .text_2 {
                        opacity:1;
                        transform:translateY(0);
                    }
                }

            }

        }

        
        .swiper_nav {
            position:absolute; z-index:10;
            top:50%;
            transform:translateY(-50%);
            cursor:pointer;
            &.mainSe1__navLeft {
                left: 5px;
            }
            &.mainSe1__navRight {
                right: 5px;
            }
            img {
                height:70px;
            }
        }

        &__slideImage {
            position:absolute;
            top:0; left:0;
            width:100%; height:100%;
            @include bgImg;
        }

        &__slideFilter {
            position:absolute;
            top:0; left:0;
            width:100%; height:100%;
        }

        &__slideText {
            position:absolute; z-index:10;
            top:50%; left:50%;
            transform:translate(-50%, -50%);
            text-align:center;
            .text_1 {
                font-size:60px;
                opacity:0;
            }
            .text_2 {
                font-size:25px;
                opacity:0;
            }
        }

    }
    
}

@media screen and (min-width:1680px) {

    .mainSe1 {
        position:relative;

        .relative {
            position:relative;
        }
        
        &__slideText {
            .text_1 {
                font-size:80px;
            }
            .text_2 {
                margin-top:25px;
                font-size:35px;
            }
        }

    }
    
}
