

.templateListWrap {
    justify-content: flex-start !important;
}

.ReactModal__Content {
    overflow:auto;
}

.ReactModal__Content:hover {
    overflow:auto !important;
}

.JDtooltip {
    display:flex;
    align-items: center;
    max-height:30px;
}

.adminEdit {

    .JDlabel  {
        font-size:1rem;
        &.mr {
            margin:0 0.625rem 0.4rem 0 ;
        }
    }
    
    &__newSection {
        margin:1.25rem 0;
        padding:1.875rem 0;
        font-size:1.875rem;
        text-align:center;
        background:#eeeeee;
    }

    &__switch {
        display:flex;
        margin:1.25rem 0;
        align-items: center;
        .mr {
            margin:0 0.625rem 0 0 ;
        }
    }

    &__colour {
        margin:1.25rem 0;
    }

    &__colourPicker {
        margin-right:10px;
    }

    &__colourBtn {
        margin-right:10px;
        padding:5px;
        font-size:14px;
        background:#ffffff;
        border:1px solid #000000;
        cursor:pointer;
        transition:background 300ms, color 300ms;
        &:hover {
            color:#ffffff;
            background:#000000;;
        }
    }

    &__warning {
        position:relative;
        margin:10px 0;
        padding:15px 25px;
        color:#000000;
        background:#fcdddd;
        &:before {
            content:"";
            position:absolute;
            top:0; left:0;
            width:5px; height:100%;
            background:#e72f2f;
        }
    }

    &__warningTitle {
        margin-right:10px;
    }

    &__warningText {
        line-height:1.5em;
    }

    &__notice {
        position:relative;
        margin:10px 0;
        padding:15px 25px;
        color:#000000;
        background:#dde8fc;
        &:before {
            content:"";
            position:absolute;
            top:0; left:0;
            width:5px; height:100%;
            background:#2F6CE7;
        }
    }

    &__noticeTitle {
        margin-right:10px;
    }

    &__noticeText {
        line-height:1.5em;
    }

    &__listLine {
        padding:5px;
        color:#ffffff;
        background:black;
    }

    .adminEdit_btn  {
        position:fixed;
        right:20px; bottom:20px;
        width:150px;
    }

}


@media screen and (min-width:768px) {


}


@media screen and (min-width:1024px) {


}


@media screen and (min-width:1680px) {


}



